# Ignore node_modules folder
node_modules/
 
# Ignore all .log files
*.log
 
# Ignore specific config file
secret-config.yaml
 
# Ignore all .env files
*.env
 
# Ignore Terraform state files (specific to Terraform projects)
*.tfstate
*.tfstate.backup
.terraform/
*.pem
terraform.tfstate.d
